<h3  class="text-center" >ABOUT ME</h3><br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 ">
      <p class="text-center quote">Software Developers are modern day wizards.<br>
                                  They have the ability and knowledge to make things come alive. </p>
          <p class ="about">Hello! If you are reading this, then I have done something right! My name is Eduardo Delira and this is a site I created to show some of my work while learning Rails. Yes, I could have made a simple CMS site but where is the fun in that? So, let's dive into sharing my life story:I'm from Chicago, born and raised; Grew up in the Little Village/Pilsen area. I've always had a huge interested in computers since the first time I accidently formatted our family computer (at the age of nine). At the time I never understood why someone would include a disk to erase everything on the computer but later I learned its purpose, which is when my technical sophistication began. I constantly ran into computer problems at home but I was able to figure them out, and slowly became the “family I.T. guy.” It took me a little bit of time but it wasn't until I was 23 years old that I realized that I wanted to have a career with computers. I enrolled at DePaul University and chose Information Technology as my major. I had no programming experience whatsoever but my first programming class grabbed my attention. My first language was Ruby. Rock, Paper, Scissors was my first program. I LOVED IT! Extra credit was to included Lizard and Spock. Of course I did it;it was fun. Learning Rails followed, and the idea of making a website with just a few commands blew me away. Other languages followed but Python has been my favorite because I love playing with Raspberry Pis: there is just something about making an object come alive physically that attracts me to them. This is why I believe Software Developers are modern day wizards: the magic (software) is out there; it is about learning the spells (languages) to make things come alive...</p>
    </div>    
      <div class="col-sm-4">
      <%= image_tag('portrait.jpg', class: 'img-rounded img-responsive contact  ') %>
      </div>

  </div>
</div>

      


