<h3  class="text-center" >ABOUT ME</h3><br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 ">
      <p class="text-center quote">Software Developers are modern day wizards.<br>
                                  They have the ability and knowledge to make things come alive. </p>
          <p class ="about">Curabitur suscipit pharetra mattis. Aenean malesuada quam quis ex suscipit, sed vehicula sem dignissim. Curabitur pulvinar sapien enim, vitae euismod libero pharetra non. Nunc accumsan sem quis turpis malesuada, ac venenatis lectus mattis. Nunc tincidunt lacus ac aliquet pharetra. Duis interdum tortor vitae lectus fringilla, a vulputate tortor ullamcorper. In ligula orci, egestas quis tortor non, ultrices aliquam ligula. Quisque auctor eleifend blandit. Fusce pulvinar faucibus massa non sagittis. Aliquam vel augue nec tellus finibus iaculis sed non metus. Ut placerat ullamcorper tortor sed aliquam. Morbi eleifend varius eros, vitae volutpat augue congue sed. Nam sollicitudin purus vitae leo luctus, non convallis nisl faucibus. Sed blandit sed risus ut semper.</p>
    </div>    
      <div class="col-sm-4">
      <%= image_tag('portrait.jpg', class: 'img-rounded img-responsive contact  ') %>
      </div>

  </div>
</div>

      


