<div class="container-fluid bg-3   ">
  <h1 class="text-center" >ABOUT ME</h1><br>
  <div class = "container">
    <div class="row">
      <div class="col-lg-7 ">
        <div class="row">
          <div class= "col-md-10 col-md-offset-1 ">
            <p class="text-center quote">Software Developers are modern day wizards.<br>
                                    They have the ability and knowledge to make things come alive. </p>
            <p class ="about">Jelly beans candy bonbon pastry apple pie jelly-o. Soufflé dragée sugar plum danish sesame snaps 
            dragée chocolate carrot cake tootsie roll. Bear claw pudding ice cream ice cream dessert. Tootsie 
            roll croissant toffee biscuit sesame snaps sugar plum jelly cotton candy marshmallow. Brownie apple
            pie dessert topping chocolate cake wafer. Brownie gummies apple pie dragée cotton candy cotton 
            candy. Biscuit toffee carrot cake cake powder. Apple pie tart pudding pudding cake caramels. Caramels
            sweet tiramisu macaroon toffee icing fruitcake. Powder cupcake bonbon biscuit gingerbread jelly. 
            Liquorice chocolate cake danish jelly beans halvah tart lemon drops lemon drops. Cookie muffin powder 
            candy pie oat cake gummi bears. Gummies sugar plum pie cotton candy toffee carrot cake danish chocolate
            bar jelly-o.</p>
          </div>
        </div>  
      </div>  
      <div class="col-sm-4">
        <%= image_tag('portrait.jpg', class: 'img-responsive contact ') %>
      </div>
    </div>
  </div>
</div>
      


