<div class = "main" >
<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Who Am I?</h3>
  <%= image_tag('me.jpg', class: 'img-responsive img-circle margin profile', :size => '350x350') %>
  <h3>I'm a Jr. Developer</h3>
</div>

<!-- Second Container -->
<div id = "PORTFOLIO" class="container-fluid bg-3 text-center">
  <%= render 'examples' %>  
</div>

<!-- Third Container (Grid) -->
<div id="ABOUT" class="container-fluid bg-2 text-center">    
  <%= render 'about' %>
</div>

<!-- Forth Container (Grid) -->
<div id= "CONTACT"  class="container-fluid bg-3 text-center  ">
  <%= render "contact/index", :contact => @contact %>
</div>

</div>