

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Who Am I?</h3>
  <%= image_tag('me.jpg', class: 'img-responsive img-circle margin profile', :size => '350x350') %>
  <h3>I'm a Jr. Developer</h3>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Who Am I?</h3>
  <p> I'm an Information Technology major from DePaul University </p>

</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">What have I done?</h3><br>
  <div class="row">
    <div class="col-sm-6">
      <p>Living near the CTA Pink Line, I wanted to visually see where the train I had to catch to get to school on time was.
      Using a Raspberry Pi and Chicago's CTA API, I was able to write a program to parse through the XML provided and 
      assign each LED on a LED strip a train station.</p>
      <%= link_to image_tag('cta.jpg', class: 'img-responsive margin img-rounded', :width => '100%'),'https://github.com/edelira/Pink-line-tracker' %>
    </div>
    <div class="col-sm-6"> 
      <p>From my Pink Line project, I saw how much fun I can have using addressable LED strips and so I thought; why not use them to
      notify me of the current weather? Using Open Weather Map's API, I was able to pull current weather data and write different 
      functions to try and replicate weather patterns.

</p>
      <%= link_to image_tag('cloud.jpg', class: 'img-responsive margin img-rounded', :width => '100%'),'https://github.com/edelira/Pi_weather' %>
    </div>

  </div>
</div>



