<h3 >CONTACT ME</h3><br>
<div class = "container">
  <div class="row">
    <div class="col-sm-6 text-left contact-info ">
      <p> Feel free to shoot me an email with any questions or comments you may have and I'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
      <p><span class="glyphicon glyphicon-envelope"></span><a href="mailto:Edelira1@gmail.com"> Edelira1@gmail.com</a></p><br>
    </div>
    <div class="col-sm-6  ">
      <div class="row text-left ">
        <div id="contact">  
          <%= render :partial => 'contact/contact_form' %>
        </div>  
        
      </div>
    </div>
  </div>
</div>


