html {
  overflow-y: scroll;
}
html,body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
  height: 100%;
  position: relative;

}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
  background-color: #8AB9B5; /* Green */
  color: #ffffff;
}
.bg-2 { 
  background-color: #2C4251; /* Dark Blue */
  color: #ffffff;
}
.bg-3 { 
  background-color: #EAE6E5; /* White */
  color: #555555;
}
.bg-4 { 
  background-color: #171738; /* Black Gray */
  color: #fff;
}
.container-fluid {
  padding-top: 90px;
  padding-bottom: 70px;
}
.navbar {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  
}
.navbar-nav  li a:hover {
    color: #E1F2FE !important;
}
.profile{
  display: inline;
}

.contact{
  margin: 0 auto;
}

.contact-info{
  padding-left: 15px
}


.about{
  font-size:11pt;
}
.quote{
  font-weight: bold;
  font-size:15pt;
  line-height: 1.2;

}
.main {
    margin-top: 60px; 
}